.overview {
    padding: 2em;

    @media (min-width: 768px) {
        width: calc(100% - 20em);
        position: relative;
        left: 20em;
    }
}

.name {
    font-size: 63px;
}

.contact-details {
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.summary {
    padding: 2em;
}

.social {
    font-size: 2em;

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: inline-block;
        padding: 0.5em;
    }
}

.circle {
    background-color: #0e263d;
    border-radius: 50%;
    width: 1.42em;
    text-align: center;

    .fa {
        font-size: 0.85em;
    }
}
