@import '../../public/assets/bootstrap/css/bootstrap.min.css';
@import "../../node_modules/font-awesome/css/font-awesome.min.css";

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: gray;

    &:hover {
        color: lightgray;
    }
}

.component-contaniner {
    @media (min-width: 768px) {
        width: calc(100% - 20em);
        position: relative;
        left: 20em;
    }
}
