@media (min-width: 768px) {

    .app-container > .navbar {
        max-width: 20em;
        min-height: -webkit-fill-available;
        margin-bottom: 0;
        border-radius: 0;
        display: inline-block;
        position: fixed;
       }	

    .container > .navbar-header, .nav.navbar-nav, .nav.navbar-nav > li {
        float: none;
    }

    .navbar-header > .navbar-brand {
        float: none;
        display: inline-block;
        padding: 2em;
        margin-top: 10em;
    }

    .navbar > .container {
        width: 20em;
        text-align: center;
        text-transform: uppercase;
    }

}

